@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";

body {
    margin: 0;
    padding: 0;
    background: #313131;
}

.box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.box a {
    text-decoration: none;
    color: white;
    font-size: 40px;
    margin: 10px;
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    float: left;
    transition: 0.5s all;

}



.fb {
    background: #2080b9 ;
}

.tw {
    background: #3498db ;
}

.yb {
    background: #e74c3c ;
}

.wp {
    background: #27ae60 ;
}

.im {
    background:#e67e22 ;
}

.box a:hover{
    margin-top: -10px;
}